/*========================================

	Colour Styles
	_____________
	

========================================*/

/*========================================

	Normal Colours

========================================*/

$white-default:  #fff;
$black-default:  #000;

/*========================================

	Main Colours 

========================================*/

$primary:       #08b7db;
$pink:			#fe237f;
$orange:		#fe693e;
$light-grey:	#b7b7b7;
$dark-grey:		#6e6e6e;

